.fa-facebook {
  color: rgb(59, 91, 152);
}

.fa-twitter {
  color: rgb(29, 161, 242);
}

.fa-linkedin {
  color: rgb(0, 119, 181);
}

.fa-github {
  color: rgb(12, 172, 244);
}

.footer-distributed {
  background-color: #1f2937;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  bottom:0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed .footer-left img.logo {
  line-height: 48px;
  margin-left: 0px;
  height: 95px;
  width: 95px;

}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #58b15d;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: papayawhip;
  color: #1f2937;
  font-size: 25px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 20px;
  line-height: 50px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #58b15d;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font: 400 1.4rem "Adventure", Adventure;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 32px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-color: papayawhip;
  border-radius: 0.2em;

  font-size: 20px;
  color: #1f2937;
  text-align: center;
  line-height: 50px;

  margin-right: 3px;
  margin-bottom: 5px;
}

#copyright {
  padding: 50px 0 0px;
  text-align: center;
  color: #fff;
  font: 400 1.4rem "Adventure", Adventure;
}

#owner {
  text-align: center;
  padding: 10px 0 0px;
  color: #fff;
  font: 700 1.2rem "Roboto Slab", sans-serif;
}

#owner a {
  color: #58b15d;
  font: 700 1.4rem "Adventure", Adventure;
  text-decoration: none;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 769px) {
  .footer-distributed {
    font: bold 10px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    font: 400 1.4rem "Roboto Slab", sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    float: left;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  #copyright {
    font: 400 0.8rem "Adventure", Adventure;
  }

  #owner {
    font: 700 0.6rem "Roboto Slab", sans-serif;
  }

  #owner a {
    font: 700 0.8rem "Adventure", Adventure;

  }
}