.fa-user {
  color: #1f2932;
}

.fa-cart-shopping {
  color: papayawhip;
  --fa-beat-scale: 1.5;
  --fa-animation-duration: 5s;
  filter: drop-shadow(0 0 1px #777);
}

.fa-cart-shopping:hover {
  color: #58b15d;
  --fa-animation-duration: 1s;
  filter: drop-shadow(0 0 0px red)
}

.fa-user:hover {
  color: #58b15d;
  filter: drop-shadow(0 0 0px red)
}

.fa-bars {
  color: #58b15d;
}

.fa-bars:hover {
  color: #fde428;
  filter: drop-shadow(0 0 0px red)
}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.header-login-signup {
  background-color: #3f5678;
  box-shadow: 0 1px 1px #ccc;
  padding: 15px 40px;
  color: #ffffff;
  height: 100px;
  box-sizing: border-box;
}

.header-login-signup .header-limiter {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Logo */
.header-login-signup .header-limiter img {
  float: left;
}

.header-login-signup .has-outline {
  float: left;
  background: #b392a33a;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  width: 75px;
  height: 75px;
}

.header-login-signup .has-outline:after {
  border-radius: 50%;
  padding: 5px;
  border: 2px dashed #fff;
  position: absolute;
  content: '';
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

.header-login-signup .code-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-login-signup .header-limiter h1 {
  float: left;
  font: normal 65px Cookie, Adventure;
  line-height: 65px;
  width: 255px;
  margin: 10px 0;
  background: #fff;
  line-height: 1em;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.header-login-signup .header-limiter h1 span {
  color: #58b15d;
  text-shadow:
    1px 1px #fff,
    -1px 1px #fff,
    1px -1px #fff,
    -1px -1px #fff,
    1px 1px 5px #555;
  -moz-text-shadow: 0 0 5px #555;
  -webkit-text-shadow: 0 0 5px #555;
}

/* The navigation links */

.header-login-signup .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header-login-signup .header-limiter .menudiv nav {
  font: 400 1rem "Roboto Slab", sans-serif;
  line-height: 100%;
  float: left;
}

.header-login-signup .header-limiter .menudivnav li.selected {
  color: #58b15d;
  font-size: 700 2.4rem "Roboto Slab", sans-serif;
}

.header-login-signup .menudiv nav ul li a {
  font: 400 1rem "Roboto Slab", sans-serif;
  width: 45%;
  opacity: 0.9;
  text-decoration: none;
  line-height: 65px;
  transition: all 0.5s ease 0s;
}

.header-login-signup .menudiv nav ul li a:hover {
  color: #fde428;
  transition: all 0.5s ease 0s;
  opacity: 2;
  font: 500 1.1rem "Roboto Slab", sans-serif;
}

.header-login-signup .menudiv nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

.header-login-signup .menudiv nav ul li a i {
  color: #58b15d;
  transition: all 0.5s ease 0s;
}

.header-login-signup .menudiv .toggle-menu ul {
  display: table;
  width: 35px;
}

.header-login-signup .menudiv .toggle-menu ul li {
  width: 100%;
  height: 10px;
  background-color: #58b15d;
  ;
}

.header-login-signup .menudiv input[type=checkbox],
.header-login-signup .menudiv label {
  display: none;
}

/* Login/Sign up buttons */

.header-login-signup .header-limiter ul {
  font: 400 1rem "Roboto Slab", sans-serif;
  line-height: 90%;
  float: right;
}

.header-login-signup .header-limiter ul li {
  display: inline-block;
  opacity: 1;
  margin: 0px 0px 0px 25px
}

.header-login-signup .header-limiter ul.leftdiv li {
  margin: 15px 0px 0px 25px
}

.header-login-signup .header-limiter ul li:hover {
  opacity: 2;
}

/* The sign up button */

.header-login-signup .header-limiter ul.leftdiv li:last-child a.login {
  font-weight: bold;
  color: #1f2937;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  padding: 10px 15px;
  border-radius: 50px;
  transition: all 650ms;
}

.header-login-signup .header-limiter ul.leftdiv li:last-child a.login:hover {
  background: linear-gradient(to right, rgba(0, 100, 200, 1), rgba(100, 200, 200, 1));
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 1px solid #00d7c3;
}


/* Making the header responsive */

@media all and (max-width: 769px) {
  .header-login-signup {
    padding: 15px;
    height: auto;
    width: 100%;
    display: inline-block;
  }

  .header-login-signup .header-limiter h1 {
    display: none;
  }

  .header-login-signup .header-limiter h1 {
    float: left;
    line-height: 65px;
    width: 105px;
    margin: 10px 0;
  }

  .header-login-signup .header-limiter h1 {
    float: none;
    margin: 8px 0 8px;
    text-align: center;
    font-size: 52px;
    line-height: 1;
  }

}

@media screen and (max-width: 375px) {
  .header-login-signup .header-limiter nav {
    display: none;
  }

  .header-login-signup .header-limiter ul {
    float: none;
    display: inline-block;
    width: 75%;
    margin: auto;
    padding-top: 1px;
  }
}

@media only screen and (max-width: 767px) {

  .header-login-signup .menudiv section {
    max-width: 95%;
  }


  .header-login-signup .has-outline {
    display: none;
  }
}

@media only screen and (max-width: 767px) {

  .header-login-signup .menudiv input[type=checkbox] {
    position: absolute;
    top: -9999px;
    right: -9999px;
    background: none;
  }

  .header-login-signup .menudiv input[type=checkbox]:fous {
    background: none;
  }

  .header-login-signup .menudiv label {
    float: left;
    padding: 8px 0px;
    /* display: inline-block; */
    cursor: pointer;
  }

  .header-login-signup .menudiv input[type=checkbox]:checked~nav {
    display: block;
  }

  .header-login-signup .menudiv nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 53px;
    background-color: #484b50;
    padding: 0px;
    z-index: 1000;
  }

  .header-login-signup .menudiv nav ul {
    width: 85%;
  }

  .header-login-signup .menudiv nav ul li {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
  }

  .header-login-signup .menudiv nav ul li a {
    color: 700 1rem "Roboto Slab", sans-serif;
    padding: 30px 10px;
    display: block;
    border-bottom: 3px solid rgba(225, 225, 225, 0.1);
  }

  .header-login-signup .menudiv nav ul li a i {
    color: #fde428;
    padding-right: 13px;
  }
}

@media only screen and (max-width: 426px) {

  .header-login-signup .menudiv section {
    max-width: 90%;
  }
}

@media only screen and (max-width: 426px) {

  .header-login-signup .menudiv label {
    padding: 5px 0px;
  }

  .header-login-signup .menudiv nav {
    top: 47px;
  }
}