<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <body class="notFound404">
    <div class="noise"></div>
    <div class="overlay"></div>
    <section class="notFound">
      <div class="img_notFound">
        <img
          src="https://assets.codepen.io/5647096/backToTheHomepage.png"
          width="45%"
          alt="Back to the Homepage"
        />
        <img
          src="https://assets.codepen.io/5647096/Delorean.png"
          width="45%"
          alt="El Delorean, El Doc y Marti McFly"
        />
      </div>
      <div class="text_notFound">
        <h1>404</h1>
        <h2>Error</h2>
        <h3>De vuelta a casa?</h3>
        <a href="/" class="yes_notFound">YES</a>
        <a href="/">NO</a>
      </div>
    </section>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
