<footer class="footer-distributed">
  <div class="footer-left">
    <img
      class="logo"
      src="/images/Logo_eComic_hover.png"
      alt="eComic"
      href="/"
    />
    <p class="footer-links">
      <a href="/">Inicio</a>
      ·
      <a href="/users/login">Login</a>
    </p>
    <p class="footer-company-name">Grupo 6 © 2022</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa-solid fa-map-location-dot fa-bounce"></i>
      <p><span>Calle 51 Sur # 48-57 Centro Comercial Mayorca Etapa 2</span>Sabaneta, Antioquia - Colombia</p>
    </div>
    <div>
      <i class="fa-solid fa-mobile-retro fa-shake"></i>
      <p>+57 604 123 45 67</p>
    </div>
    <div>
      <i class="fa-solid fa-envelopes-bulk"></i>
      <p><a href="mailto:support@ecomic.com">support@ecomic.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>Acerca de nosotros</span>
      eComic es una tienda virtual que esta operando para traer lo mejor del mundo del manga y el cómic a todos los rincones posibles de Colombia.
    </p>
    <div class="footer-icons">
      <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
  <div id="copyright">
    <i class="fa-solid fa-copyright"></i> Todos los derechos son reservados
  </div>
  <div id="owner">
    <span> Diseñado y Desarrollado por <a href="/">Grupo 6</a> </span>
  </div>
</footer>
