<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_detail">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
      <main class="main">
        <div class="box">
          <div class="container-1">
            <span class="icon"><i class="fa fa-search fa-2x"></i></span>
            <input type="search" id="search" placeholder="Buscador..." />
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-dtls">
            <div class="report-bi">
              <iframe title="Usuario" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiZjQxOGRhY2UtYmJhMi00YzQzLTg1YzktM2ZjM2VlOWM1NzlhIiwidCI6ImZhYTQ0ZmQ5LWRhYmUtNDA2NC1hNmJiLTU5NjA4ZWE5ZDBmMyIsImMiOjR9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
  </body>

</html>